* {
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
    text-align: center;
}


h1, h2, h3 {
    color: darkcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-round {
    border-radius: 50%;
    height: 175px;
    Width: 175px;
    align-content: center;
}

div {
    padding-top: 15px;
}

.ruler {
    border-top:  darksalmon;
}

p, ol, ul {
    color: orchid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
}

article {
    padding: 10px;
}

a:link { color: darkcyan; }
a:visited { color: cyan; }
a:hover { color: lightcyan}
a:active { color: darkslategrey}
